version: '3.8'

services:
  reth-http:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - RETH_DB_PATH=/data/db
    volumes:
      - ~/chain/reth/data/db:/data/db
    ports:
      - "${PORT}:8545"
  reth-ws:
    pid: "host"
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - RETH_DB_PATH=/data/db
    volumes:
      - ~/chain/reth/data/db:/data/db
    ports:
      - "${PORT_WS}:8546"
    command: [ "./reth-server", "--ws" ]
  nginx:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8080:8080"
      - "8081:8081"
